:root {
    --colour-blue: #183FF4;
    --colour-blue-light: #54B5F9;
    --colour-black: #000;
    --colour-white: #FFF;
    --colour-green: #81FB4D; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;

}

body {
  background: var(--colour-blue);
  color: var(--colour-white);
  margin:2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
