/* reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* World Elephant Day */

:root {
    --colour-blue: #183FF4;
    --colour-blue-light: #54B5F9;
    --colour-black: #000;
    --colour-white: #FFF;
    --colour-green: #81FB4D; 
}

body {
  background: var(--colour-blue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
  font-family: "cooper-black-std", serif;
}

main {
	width: 80%;
	margin: 0 auto;
}