.h1 {
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  margin-bottom:0.5rem;
  -webkit-text-stroke-width: 1.4rem;
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.4));
}

.white {
  color: var(--colour-white);
}

.blue {
  color: var(--colour-blue);
}

.lightblue {
  color: var(--colour-blue-light);
}

.green {
  color: var(--colour-green);
}