.bottle {
	display: inline;
}

.bottle svg {
	fill: none;
	stroke: none;
	filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}

.outline,
.teat {
	stroke: #fff;
	stroke-width: 5px;
}

.fill {
	fill: #fff;
}