.milk {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--colour-green);
	margin-top: 4rem;
}

.text {
	flex: 1;
	font-size: 5rem;
	text-align: left;
	line-height: 100%;
}

.count {
	flex: 0 0 4rem;
	font-size: 12rem;
}

.bottles {
	display: block;
}
